{% if product.images.size > 1 %}
<div class="note-scroll label strong text-uppercase text-white">Scroll</div>
{% endif %}

{% if product.category %}
	<div class="product-category small strong text-uppercase text-neutral-4 space-25-bottom"><small>{{ product.category }}</small></div>
{% endif %}
<div class="product-title h6 text-uppercase space-50-bottom"><h1>{{ product.title }}</h1></div>
<div id="product-price" class="product-price label strong text-red space-25-bottom">{{ product.price | money }} {% if product.compare_at_price_max > product.price %} <span class="small compare-at-price text-neutral-3 space-min" style="text-decoration: line-through;">{{ product.compare_at_price | money }}</span>{% endif %}</div>
<div class="shipping-policy-link label text-neutral-4 space-50-bottom"><a class="inline text-underline text-black" href="{{ shop.shipping_policy.url }}" target="_blank">Shipping</a> calculated at checkout.</div>

<form id="add-to-cart-form" action="/cart/add" method="post" enctype="multipart/form-data">
<input type="hidden" name="id" id="variant-id" value="{{ product.variants.first.id }}">
{% if product.variants.size > 1 %}
	{% for option in product.options %}
	<div class="product-variants form-field space-50-bottom">
		<label class="form-label small strong text-uppercase inline space-min-bottom" for="variant-select-{{ option | handle }}">{{ option }}</label><br>
		<select class="variant-select block fill-white" id="variant-select-{{ option | handle }}" name="variant-select-{{ option | handle }}" data-option="{{ option | handle }}" data-value="">
			{% for variant in product.variants %}
				<option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }} {% if variant.available == false %} (Out of Stock){% endif %}</option>
			{% endfor %}
		</select>
	</div>
	{% endfor %}
{% else %}
	<input type="hidden" name="id" value="{{ product.variants.first.id }}">
{% endif %}

{% if product.available %}
	<div class="row space-50-bottom">
		<div class="columns small-6">
			<div class="product-quantity form-field">
				<label class="form-label small strong text-uppercase inline space-min-bottom">
					Quantity<br>
					<input class="block text-center fill-white" type="text" id="quantity" name="quantity" value="1" min="1">
				</label>
			</div>
		</div>
		<div class="columns small-6">
			<div class="add-to-cart-button form-field">
				<label class="form-label small strong text-uppercase inline space-min-bottom invisible">
					Submit<br>
					<button type="submit" class="button fill-red block">Add to Cart</button>
				</label>
			</div>
		</div>
	</div>
{% else %}
	<div class="space-50-bottom">
		<button disabled class="button fill-neutral-3 block">Out of Stock</button>
	</div>
{% endif %}
</form>

{% if product.collections.size > 0 %}
<div class="product-collections space-50-bottom">
	<div class="small text-neutral-4 space-min-bottom text-uppercase">Shop More</div>
	{% for collection in product.collections %}
		<a class="label space-25-top-bottom space-50-left-right text-uppercase fill-dark radius-min" href="{{ collection.url }}" style="margin-right: var(--space-min); margin-bottom: var(--space-min);">{{ collection.title }}</a>
	{% endfor %}
</div>
{% endif %}

<div class="space-50-bottom hide-small">
	<a class="inline-middle row" href="{{ product.url }}#more">
		<i class='inline-middle bx bx-plus p strong text-red' ></i>
		<span class="inline-middle label strong text-red text-uppercase space-25-left">Material &amp; Description</span>
	</a>
</div>

<div class="space-50-bottom hide-small">
	<a class="inline-middle row" href="{{ product.url }}#more">
		<i class='inline-middle bx bx-plus p strong text-red' ></i>
		<span class="inline-middle label strong text-red text-uppercase space-25-left">Measurements &amp; Customisation</span>
	</a>
</div>

<!-- <div class="space-50-bottom hide-small">
	<a class="inline-middle row" href="{{ product.url }}#more">
		<i class='inline-middle bx bx-plus p strong text-red' ></i>
		<span class="inline-middle label strong text-red text-uppercase space-25-left">Shipping &amp; Returns</span>
	</a>
</div> -->

<div class="space-50-bottom hide-small">
	<a class="inline-middle row" href="{{ product.url }}#more">
		<i class='inline-middle bx bx-plus p strong text-red' ></i>
		<span class="inline-middle label strong text-red text-uppercase space-25-left">Frequently Asked Questions</span>
	</a>
</div>

<script>
	document.addEventListener('DOMContentLoaded', function() {
		let priceString = '{{ product.price | money }}';
		let currency = '';
		const match = priceString.match(/^([^0-9]*)\s?\d/);
		if (match && match[1]) {
		    currency = match[1].trim();
		    // console.log(curre y)
		}

		const product = {{ product | json }}
		// console.log(product);
		const variantSelects = document.querySelectorAll('.variant-select');
		const price = document.getElementById("product-price");

		// console.log(price.innerHTML);

		let newPrice = '';

		variantSelects.forEach(select => {
			select.addEventListener('change', function() {
				const selectedVariantID = this.value;

				for (var i = product.variants.length - 1; i >= 0; i--) {
					if (product.variants[i].id == selectedVariantID){
						newPrice = product.variants[i].price/100;
						newPrice = newPrice.toFixed(2);
						newPrice = currency +" "+ newPrice;
						// console.log(newPrice);
						price.innerHTML = newPrice;
					}
				}
			});
		});
	});
</script>