<style>

.account-section { position: relative; }
.account-section .account {
	display: grid;
	gap: var(--space-100);
	grid-template-columns: repeat(1, 1fr);
}

.account table {
	width: 100%;
	border-collapse: collapse;
	border: solid 1.5px var(--dark);
	border-radius: var(--space-25);
}
.account th {
	font-weight: 500;
	padding: var(--space-50);
	border: solid 1.5px var(--dark);
	text-align: center;
	background-color: rgba(var(---red), 0.333);
}

.account td {
	padding: var(--space-50);
	border: solid 1.5px var(--dark);
	text-align: center;
}


@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.account-section .account {
		display: grid;
		gap: var(--space-100);
		grid-template-columns: repeat(3, 1fr);
	}

	.account-section .account .customer-orders {
		grid-column: span 2;
	}
}
@media( min-width: 1480px ) {}

</style>

<!-- Account Section -->
<section id="account-section" class="account-section space-250-top-bottom">
	<div class="container">
		<div class="row">
			<div class="columns small-12 space-100-bottom">
				<h1 class="title block h3 text-uppercase text-center letter-space-2">Account</h1>
			</div>
		</div>
		<div class="row">
			<div class="account columns small-12">
				<div id="customer_orders" class="customer-orders space-100 text-dark fill-orange radius-25 box-border-dark">
					<div class="h6 strong text-uppercase text-center space-50-bottom">customer orders</div>
					{% if customer.orders.size != 0 %}
					<table class="order-table small">
						<thead>
							<tr>
								<th class="order_number">Order</th>
								<th class="date">Date</th>
								<th class="payment_status">Payment Status</th>
								<th class="fulfillment_status">Fulfillment Status</th>
								<th class="total">Total</th>
							</tr>
						</thead>
						<tbody>
							{% for order in customer.orders %}
							<tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
								<td class="label strong text-red">{{ order.name | link_to: order.customer_url }}</td>
								<td><span class="note">{{ order.created_at | date: "%b %d, %Y" }}</span></td>
								<td><span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></td>
								<td><span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></td>
								<td><span class="total money">{{ order.total_price | money }}</span></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% else %}
						<div class="p text-center">You haven't placed any orders yet.</div>
					{% endif %}
				</div>
				<div id="customer_detail" class="customer-detail space-100 text-dark fill-orange radius-25 box-border-dark">
					<div class="h6 strong text-uppercase text-center space-50-bottom">customer details</div>
					<label>
						<span class="small text-uppercase">Name</span>
						<div class="name block p strong">{{ customer.name }}</div>
					</label>
					<hr>
					<label>
						<span class="small text-uppercase">Email</span>
						<div class="email block label strong note">{{ customer.email }}</div>
					</label>
					<hr>
					<div class="address label note space-50-bottom">
						<span class="small text-uppercase">Address:</span>
						{% if customer.default_address != nil %}
						<div class="label strong space-25-bottom">
							<p>{{ customer.default_address.address1 }}</p>
							{% if customer.default_address.address2 != "" %}
								<p>{{ customer.default_address.address2 }}</p>
							{% endif %}
							<p>{{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}</p>
							<p>{{ customer.default_address.zip}}</p>
						</div>
						<label class="block">
							<span class="small text-uppercase">Phone</span>
							<div class="email block label strong note">{{ customer.default_address.phone }}</div>
						</label>
						{% endif %}
					</div>

					<a class="button block fill-dark" id="view_address" href="/account/addresses">View Addresses ({{ customer.addresses_count }})</a>
					</div>
				</div>
			</div>
			<div class="columns small-12 medium-10 medium-offset-1 large-6 large-offset-3 text-center space-100-top">
				<div class="row">
					<div class="columns small-6 space-25">
						<a href="{{ shop.url }}" class="block button fill-red box-shadow-white-2">Return Home</a>
					</div>
					<div class="columns small-6 space-25">
						<a href="{{ routes.account_logout_url }}" class="block button fill-dark box-shadow-white-2">Sign Out</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END: Account Section -->


