<style>

.address .address-action .title-edit,
.address .address-action .icon-cancel,
.address .address-edit {
	display: none;
}

.address .toggle-form-edit:checked ~ .address-action .icon-edit,
.address .toggle-form-edit:checked ~ .address-view {
	display: none;
}

.address .toggle-form-edit:checked ~ .address-edit {
	display: block;
}

.address .toggle-form-edit:checked ~ .address-action .title-edit,
.address .toggle-form-edit:checked ~ .address-action .icon-cancel {
	display: inline-block;
}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}

</style>

<!-- Address Section -->
<section id="address-section" class="address-section space-250-top-bottom">
	<div class="container">
		<div class="row">
			<div class="columns small-12 space-100-bottom">
				<h1 class="title block h3 text-uppercase text-center letter-space-2">Address</h1>
			</div>
		</div>
		<div class="addresses row">
			<div class="columns small-12 text-center space-100-bottom">
				<a class="inline label strong text-red text-uppercase" href="#" onclick="showAddAddressForm(); return false;">Add New Address +</a>
			</div>
			
			<!-- Address List -->
			{% paginate customer.addresses by 10 %}
			{% for address in customer.addresses %}
			<div class="columns large-10 large-offset-1 xlarge-8 xlarge-offset-2 space-50-bottom">
				
				<!-- Address -->
				<div id="address_{{address.id}}" class="address fill-orange text-dark space-100 box-border-dark radius-25">

					<!-- Toggle Form Edit -->
					<input type="checkbox" class="toggle-form-edit visuallyhidden" id="toggle-form-edit-{{address.id}}">
					<!-- END: Toggle Form Edit -->

					<!-- Address Action -->
					<div class="address-action" style="display: flex; justify-content: space-between; align-items: center;">
						<div class="inline-middle row">
							<div class="title h6 inline-middle strong uppercase line-height-one space-25-right"><span class="title-edit">Edit</span> Address {{ forloop.index }}</div>
							{% if address == customer.default_address %}<span class="small inline-middle text-uppercase line-height-one space-25 fill-red radius-min">Default</span>{% endif %}
						</div>
						<div class="inline-middle row">
							<label for="toggle-form-edit-{{address.id}}" class="button inline-middle icon-button fill-white text-dark box-border-dark" style="position: relative; padding: 0 var(--space-25); width: var(--space-150); margin-right: var(--space-50);"><span class="visuallyhidden">Edit</span><i class='icon-edit bx bx-edit h4' style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></i><i class='icon-cancel bx bx-x h4' style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></i></label>
							<form class="inline-middle" method="post" action="/account/addresses/{{ address.id }}">
								<input type="hidden" name="_method" value="delete">
								<button type="submit" class="button icon-button fill-white text-dark box-border-dark" style="position: relative; padding: 0 var(--space-25); width: var(--space-150);"><span class="visuallyhidden">Delete</span><i class='bx bx-trash h4' style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></i></button>
							</form>
						</div>
					</div>
					<!-- END: Address Action -->

					<!-- Address View -->
					<div class="address-view">
						<label>
							<span class="small text-uppercase">Name</span>
							<div class="name block p strong">{{ address.first_name }} {{address.last_name }}</div>
						</label>
						<hr>
						<label>
							<span class="small text-uppercase">Address:</span>
							<div class="address block label strong note">
								<p>{{ address.company }}</p>
								<p>{{ address.street }}</p>
								<p>{{ address.city }} {% if address.province_code %}, {{ address.province_code }}{% endif %}</p>
								<p>{{ address.country }} {{ address.zip }}</p>
							</div>
						</label>
						<hr>
						<label>
							<span class="small text-uppercase">Phone</span>
							<div class="phone block p strong">{{ address.phone }}</div>
						</label>
					</div>
					<!-- END: Address View -->

					<!-- Address Edit -->
					<div class="address-edit">
						{% form 'customer_address', address %}

							<div class="form-box row">

								<div class="columns small-12 medium-6 space-25">
									<label class="form-field">
										<span class="form-label inline small strong text-dark text-uppercase space-min-bottom">First Name</span>
										<input class="input-field block" type="text" id="address_first_name_new" name="address[first_name]" value="{{form.first_name}}" size="30">
									</label>
								</div>
								<div class="columns small-12 medium-6 space-25">
									<label class="form-field">
										<span class="form-label inline small strong text-dark text-uppercase space-min-bottom">Last Name</span>
										<input class="input-field block" type="text" id="address_last_name_new" name="address[last_name]" value="{{form.last_name}}" size="30">
									</label>
								</div>
								<div class="columns small-12 medium-6 space-25">
									<label class="form-field">
										<span class="form-label inline small strong text-dark text-uppercase space-min-bottom">Address 1</span>
										<input class="input-field block" type="text" id="address_address1_new" name="address[address1]" value="{{form.address1}}" size="30">
									</label>
								</div>
								<div class="columns small-12 medium-6 space-25">
									<label class="form-field">
										<span class="form-label inline small strong text-dark text-uppercase space-min-bottom">Address 2</span>
										<input class="input-field block" type="text" id="address_address2_new" name="address[address2]" value="{{form.address2}}" size="30">
									</label>
								</div>
								<div class="columns small-12 medium-6 space-25">
									<label class="form-field">
										<span class="form-label inline small strong text-dark text-uppercase space-min-bottom">City</span>
										<input class="input-field block" type="text" id="address_city_new" name="address[city]" value="{{form.city}}" size="30">
									</label>
								</div>
								<div class="columns small-12 medium-6 space-25">
									<label class="form-field">
										<span class="form-label inline small strong text-dark text-uppercase space-min-bottom">Country</span>
										<select class="input-field block" id="address_country_new" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
									</label>
								</div>
								<div class="columns small-12 medium-6 space-25">
									<label class="form-field">
										<span class="form-label inline small strong text-dark text-uppercase space-min-bottom">Pin Code</span>
										<input class="input-field block" type="text" id="address_zip_new" name="address[zip]" value="{{form.zip}}" size="30">
									</label>
								</div>
								<div class="columns small-12 medium-6 space-25">
									<label class="form-field">
										<span class="form-label inline small strong text-dark text-uppercase space-min-bottom">Phone</span>
										<input class="input-field block" type="text" id="address_phone_new" name="address[phone]" value="{{form.phone}}" size="30">
									</label>
								</div>
								<div class="columns small-12 medium-6 space-25">
									<label class="form-field">
										<span class="form-label inline small strong text-dark text-uppercase space-min-bottom">Company</span>
										<input class="input-field block" type="text" for="address_company_new" name="address[company]" value="{{form.company}}" size="30">
									</label>
								</div>
								<div class="columns small-12 space-25">
									<label class="form-field cursor-pointer">
										<span class="form-label inline small strong text-dark text-uppercase space-min-bottom invisible">Set Default</span>
										<span class="p strong block">{{ form.set_as_default_checkbox }} Set as Default Address?</span>
									</label>
								</div>
								<div class="columns small-12 medium-6 space-25">
									<label class="form-field">
										<span class="form-label inline small strong text-dark text-uppercase space-min-bottom invisible">Submit</span>
										<!-- <button type="submit" class="button fill-red text-white block box-shadow-white-2">Submit <span class="h5 line-height-one">&rarr;</span></button> -->
										<input class="button fill-red text-white block box-shadow-white-2" type="submit" value="Update Address" />
									</label>
								</div>
								<div class="columns small-12 medium-6 space-25">
									<label class="form-field">
										<span class="form-label inline small strong text-dark text-uppercase space-min-bottom invisible">Cancel</span>
										<a class="button fill-white text-dark block box-border-dark" onclick="closeEditForm('toggle-form-edit-{{address.id}}')">Cancel</a>
									</label>
								</div>

							</div>

						{% endform %}


					</div>
					<!-- END: Address Edit -->
					
				</div>
				<!-- END: Address -->
			</div>
			{% endfor %}

			{% if paginate.pages > 1 %}
			<div class="columns small-12 space-50-top">
				<!-- Pagination -->
				<div class="pagination">
					{% for part in paginate.parts %}
						{% if part.is_link %}
							<a class="button fill-white box-border-dark" href="{{ part.url }}">{{ part.title }}</a>
						{% else %}
							<span class="button text-dark no-pointer">{{ part.title }}</span>
						{% endif %}
					{% endfor %}
				</div>
				<!-- END: Pagination -->
			</div>
			{% endif %}
			{% endpaginate %}
			<!-- END: Address List -->

			<div class="columns small-12 medium-10 medium-offset-1 large-6 large-offset-3 text-center space-100-top">
				<div class="row text-center">
					<div class="columns small-6 space-25">
						<a href="{{ routes.account_url }}" class="inline-middle label strong text-red text-uppercase"><span class="inline h6 line-height-one space-25-right">&larr;</span> Back to Account</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END: Address Section -->


<!-- Add Address Section -->
<section id="add-address-section" class="add-address-section space-250-top-bottom" style="display: none;">
	<div class="container">
		<div class="row">
			<div class="columns small-12 space-100-bottom">
				<h1 class="title block h3 text-uppercase text-center letter-space-2">Add Address</h1>
			</div>
		</div>
		<div class="address row">
			<div class="columns small-12 large-10 large-offset-1 xlarge-8 xlarge-offset-2">
				<div class="add-address fill-orange text-dark space-100 box-border-dark radius-25">
					{% form 'customer_address', customer.new_address %}
					<div class="form-box row">

						<div class="columns small-12 medium-6 space-25">
							<label class="form-field">
								<span class="form-label inline small strong text-dark text-uppercase space-min-bottom">First Name</span>
								<input class="input-field block" type="text" id="address_first_name_new" name="address[first_name]" value="{{form.first_name}}" size="30">
							</label>
						</div>
						<div class="columns small-12 medium-6 space-25">
							<label class="form-field">
								<span class="form-label inline small strong text-dark text-uppercase space-min-bottom">Last Name</span>
								<input class="input-field block" type="text" id="address_last_name_new" name="address[last_name]" value="{{form.last_name}}" size="30">
							</label>
						</div>
						<div class="columns small-12 medium-6 space-25">
							<label class="form-field">
								<span class="form-label inline small strong text-dark text-uppercase space-min-bottom">Address 1</span>
								<input class="input-field block" type="text" id="address_address1_new" name="address[address1]" value="{{form.address1}}" size="30">
							</label>
						</div>
						<div class="columns small-12 medium-6 space-25">
							<label class="form-field">
								<span class="form-label inline small strong text-dark text-uppercase space-min-bottom">Address 2</span>
								<input class="input-field block" type="text" id="address_address2_new" name="address[address2]" value="{{form.address2}}" size="30">
							</label>
						</div>
						<div class="columns small-12 medium-6 space-25">
							<label class="form-field">
								<span class="form-label inline small strong text-dark text-uppercase space-min-bottom">City</span>
								<input class="input-field block" type="text" id="address_city_new" name="address[city]" value="{{form.city}}" size="30">
							</label>
						</div>
						<div class="columns small-12 medium-6 space-25">
							<label class="form-field">
								<span class="form-label inline small strong text-dark text-uppercase space-min-bottom">Country</span>
								<select class="input-field block" id="address_country_new" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
							</label>
						</div>
						<div class="columns small-12 medium-6 space-25">
							<label class="form-field">
								<span class="form-label inline small strong text-dark text-uppercase space-min-bottom">Pin Code</span>
								<input class="input-field block" type="text" id="address_zip_new" name="address[zip]" value="{{form.zip}}" size="30">
							</label>
						</div>
						<div class="columns small-12 medium-6 space-25">
							<label class="form-field">
								<span class="form-label inline small strong text-dark text-uppercase space-min-bottom">Phone</span>
								<input class="input-field block" type="text" id="address_phone_new" name="address[phone]" value="{{form.phone}}" size="30">
							</label>
						</div>
						<div class="columns small-12 medium-6 space-25">
							<label class="form-field">
								<span class="form-label inline small strong text-dark text-uppercase space-min-bottom">Company</span>
								<input class="input-field block" type="text" for="address_company_new" name="address[company]" value="{{form.company}}" size="30">
							</label>
						</div>
						<div class="columns small-12 space-25">
							<label class="form-field cursor-pointer">
								<span class="form-label inline small strong text-dark text-uppercase space-min-bottom invisible">Set Default</span>
								<span class="p strong block">{{ form.set_as_default_checkbox }} Set as Default Address?</span>
							</label>
						</div>
						<div class="columns small-12 medium-6 space-25">
							<label class="form-field">
								<span class="form-label inline small strong text-dark text-uppercase space-min-bottom invisible">Submit</span>
								<button type="submit" class="button fill-red text-white block box-shadow-white-2">Submit <span class="h5 line-height-one">&rarr;</span></button>
							</label>
						</div>
						<div class="columns small-12 medium-6 space-25">
							<label class="form-field">
								<span class="form-label inline small strong text-dark text-uppercase space-min-bottom invisible">Cancel</span>
								<a class="button fill-white text-dark block box-border-dark" href="#" onclick="hideAddAddressForm(); return false;">Cancel</a>
							</label>
						</div>

					</div>
					{% endform %}
				</div>
			</div>
			<div class="columns small-12 medium-10 medium-offset-1 large-6 large-offset-3 text-center space-100-top">
				<div class="row text-center">
					<div class="columns small-6 space-25">
						<a href="{{ routes.account_url }}" class="inline-middle label strong text-red text-uppercase"><span class="inline h6 line-height-one space-25-right">&larr;</span> Back to Account</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END: Add Address Section -->


{% #layout settings.customer_layout %}

<!-- <div id="admin_header">
	<div class="action_top">
		<div id="action" class="action_link action_add note"><a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">Add New Address</a></div>
	</div>
</div> -->


<script type="text/javascript">
	function showAddAddressForm() {
		document.getElementById('add-address-section').style.display = 'block';
		document.getElementById('address-section').style.display='none';
	}

	function hideAddAddressForm() {
		document.getElementById('add-address-section').style.display = 'none';
		document.getElementById('address-section').style.display = 'block';
	}

	if (window.location.hash == '#add-address') { showAddAddressForm() }

	function closeEditForm( addressID ) {
		const checkbox = document.getElementById(addressID);
		checkbox.checked = false;
	}
</script>


<script type="text/javascript" charset="utf-8">
	// initialize observers on address selectors
	new Shopify.CountryProvinceSelector('address_country_new', 'address_province_new', {hideElement: 'address_province_container_new'});  
	{% for address in customer.addresses %}
		new Shopify.CountryProvinceSelector('address_country_{{address.id}}', 'address_province_{{address.id}}', {hideElement: 'address_province_container_{{address.id}}'});
	{% endfor %}
</script>
