

<!-- Blog Section -->
{% if blogs.diaries.articles.size > 0 %}
<section id="blog-section" class="blog-section space-250-top space-150-bottom no-overflow-clip">
	<div class="blog-carousel">
		<div class="row">
			<div class="container">
				<!-- <div class="columns small-12 text-center fade-in-animation slow"> -->
				<div class="columns small-12 text-center">
					<div class="h5 strong text-uppercase text-center space-50-bottom">Kavani Diaries</div>
				</div>
			</div>
		</div>

		<!-- Carousel -->
		<div class="carousel fade">
			<div class="carousel-list fill-white box-shadow-red-light">
				{% for article in blogs.diaries.articles limit: 10 %}
				<div class="carousel-list-item">
					<div class="card article-card fill-white no-overflow">
						<a class="block" href="{{ article.url }}">									
							{% if article.image %}
							<div class="thumbnail block no-whitespace" style="padding-top: 100%; background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url('{{ article.image | img_url: 'large' }}');"></div>
							{% endif %}
							<div class="space-75">
								<div class="title p strong text-red text-uppercase space-min-bottom">{{ article.title }}</div>
								<div class="date small text-neutral-3 space-min-bottom">{{ article.published_at | date: '%B %d, %Y' }}</div>
								<div class="summary label strong text-neutral-6 space-25-bottom">
									{% if article.excerpt != blank %}
										{{ article.excerpt }}
									{% else %}
										{{ article.content | strip_html | truncatewords: 35 }} 
									{% endif %}
								</div>
							</div>
						</a>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="carousel-controls row">
				<div class="container">
					<div class="columns small-12 text-center">
						<div class="scroll-button scroll-left inline" data-dir="left" tabindex="-1"><i class='bx bx-left-arrow-alt text-red h3' ></i></div>
						<div class="scroll-button scroll-right inline" data-dir="right" tabindex="-1"><i class='bx bx-right-arrow-alt text-red h3' ></i></div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="container">
				<div class="columns small-12 text-center">
					<a href="{{ blogs.diaries.url }}" class="button fill-dark text-white inline text-left">Explore All Stories</a>
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}
<!-- END: Blog Section -->


