{% assign lookbook = collection.metafields.custom.lookbook.value %}
{% assign lookbook_first = lookbook | first %}




<!-- Collection Section -->
{% paginate collection.products by 12 %}
<section id="collection-section" class="collection-section">
	{% if paginate.current_page == 1 %}
	<!-- Lookbook -->
	<div class="lookbook">
		{% if lookbook_first %}
			<div class="lookbook-first block img-cover" style="background-image: url('{{ lookbook_first | image_url }}');">
				<div class="collection-title container">
					<div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 text-center">
						<h1 class="block h5 strong text-white text-uppercase space-50">{{ collection.title }}</h1>
						<i class='bx bx-chevrons-down bx-fade-down h2 text-red'></i>
					</div>
				</div>
			</div>
		{% else %}
			<h1 class="collection-title block h5 strong text-uppercase text-center space-200-top">{{ collection.title }}</h1>
		{% endif %}

		{% if collection.description != blank %}
		<div class="collection-description row">
			<div class="container">
				<div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2">
					<div class="label text-center block">{{ collection.description }}</div>
				</div>
			</div>
		</div>
		{% endif %}
		
		{% for image in lookbook offset: 1 %}
			<div class="lookbook-image block img-cover" style="background-image: url('{{ image | image_url }}');"></div>
		{% endfor %}
	</div>
	<!-- END: Lookbook -->
	{% else %}
	<h1 class="collection-title block h5 strong text-uppercase text-center space-200-top">{{ collection.title }}</h1>
	{% endif %}

	{% render 'product-grid', product: product, paginate: paginate %}

	<div class="row">
		<div class="container">
			<div class="columns small-12">
				<!-- Pagination -->
				{% if paginate.pages > 1 %}
					<div class="page-action row text-center">
						{% if paginate.previous %}
						<div class="columns small-6 large-4 space-50-left-right space-100-bottom">
							<a class="button block fill-white box-border-dark pagination-prev" href="{{ paginate.previous.url }}">
								Previous Page
							</a>
						</div>
						{% endif %}
						{% if paginate.next %}
						<div class="columns small-6 large-4 space-50-left-right space-100-bottom">
							<a class="button block fill-white box-border-dark pagination-next" href="{{ paginate.next.url }}">
								Next Page
							</a>
						</div>
						{% endif %}
					</div>
					<div class="pagination">
						{% for part in paginate.parts %}
							{% if part.is_link %}
								<a class="button fill-white box-border-dark" href="{{ part.url }}">{{ part.title }}</a>
							{% else %}
								<span class="button text-dark no-pointer">{{ part.title }}</span>
							{% endif %}
						{% endfor %}
					</div>
				{% endif %}
				<!-- END: Pagination -->
			</div>
		</div>
	</div>
</section>
{% endpaginate %}
<!-- END: Collection Section -->