<div class="footer row">
	<div class="columns small-12 medium-8">
		<div class="row">
			<div class="columns small-6 large-4">
				<div class="logo">
					<a href="{{ shop.url }}">
						{% if settings.logo %}
							<img class="block" src="{{ settings.logo | image_url }}" alt="{{ shop.name }}">
						{% else %}
							{{ shop.name }}
						{% endif %}
					</a>
				</div>				
			</div>
			<div class="columns small-12 large-8">
				<div class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, ad enim itaque delectus sit laboriosam molestiae quibusdam, nesciunt laudantium accusantium perspiciatis ducimus veniam officia placeat dignissimos aperiam blanditiis qui facilis.</div>
			</div>
		</div>
	</div>
	<div class="columns small-6 medium-4">
		<div class="row">
			<div class="columns small-6 medium-12 large-6">
				<!-- Navigation -->
				<nav class="footer-nav">
					<ul class="menu">
					  {% for link in section.settings.footer-menu.links %}
					    <li class="menu-link">
					      <a class="label text-uppercase text-dark" href="{{ link.url }}">{{ link.title }}</a>

					      {% if link.links.size > 0 %}
					        <ul class="menu dropdown-child">
					          {% for child_link in link.links %}
					            <li class="menu-link">
					              <a class="label text-uppercase text-dark" href="{{ child_link.url }}">{{ child_link.title }}</a>

					              {% if child_link.links.size > 0 %}
					                <ul class="menu dropdown-grandchild">
					                  {% for grandchild_link in child_link.links %}
					                    <li class="menu-link">
					                      <a class="label text-uppercase text-dark" href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
					                    </li>
					                  {% endfor %}
					                </ul>
					              {% endif %}
					            </li>
					          {% endfor %}
					        </ul>
					      {% endif %}
					    </li>
					  {% endfor %}
					</ul>
				</nav>
				<!-- END: Navigation -->
			</div>
			<div class="columns small-6 medium-12 large-6">
				<!-- Navigation -->
				<nav class="footer-nav">
					<ul class="menu">
					  {% for link in section.settings.policy-menu.links %}
					    <li class="menu-link">
					      <a class="label text-uppercase text-dark" href="{{ link.url }}">{{ link.title }}</a>

					      {% if link.links.size > 0 %}
					        <ul class="menu dropdown-child">
					          {% for child_link in link.links %}
					            <li class="menu-link">
					              <a class="label text-uppercase text-dark" href="{{ child_link.url }}">{{ child_link.title }}</a>

					              {% if child_link.links.size > 0 %}
					                <ul class="menu dropdown-grandchild">
					                  {% for grandchild_link in child_link.links %}
					                    <li class="menu-link">
					                      <a class="label text-uppercase text-dark" href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
					                    </li>
					                  {% endfor %}
					                </ul>
					              {% endif %}
					            </li>
					          {% endfor %}
					        </ul>
					      {% endif %}
					    </li>
					  {% endfor %}
					</ul>
				</nav>
				<!-- END: Navigation -->
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "Footer",
	"settings": [
		{
			"type": "link_list",
			"id": "footer-menu",
			"label": "Footer Menu"
		}, {
			"type": "link_list",
			"id": "policy-menu",
			"label": "Policy Menu"
		}
	]
}
{% endschema %}