<input type="checkbox" id="menu-checkbox" class="menu-checkbox hidden">
<div class="header row clearfix">
	<!-- Logo -->
	<div class="logo columns small-6 medium-4 large-2 inline-middle">
		<a href="{{ shop.url }}">
			{% if settings.logo %}
				<img class="block" src="{{ settings.logo | image_url }}" alt="{{ shop.name }}">
			{% else %}
				{{ shop.name }}
			{% endif %}
		</a>
	</div>
	<!-- END: Logo -->
	<!-- Navigation -->
	<nav class="main-menu columns small-12 large-8 inline-middle">
		<ul class="menu">
			{% for link in section.settings.menu.links %}
				<li class="menu-link">
					<a class="h4 text-uppercase text-neutral-7" href="{{ link.url }}">{{ link.title }}</a>

					{% if link.links.size > 0 %}
						<input type="checkbox" id="toggle-sub-{{ link.handle }}" class="visuallyhidden">
						<label for="toggle-sub-{{ link.handle }}" class="toggle-sub-menu space-50" tabindex="0">
							<i class='bx bx-chevron-down h3 text-neutral-6'></i>
						</label>
						<style>
							.dropdown-child { display: none; }
						</style>
						<ul class="menu dropdown-child">
							{% for child_link in link.links %}
								<li class="menu-link">
									<a class="h4 text-uppercase text-neutral-7" href="{{ child_link.url }}">{{ child_link.title }}</a>

									{% if child_link.links.size > 0 %}
										<ul class="menu dropdown-grandchild">
											{% for grandchild_link in child_link.links %}
												<li class="menu-link">
													<a class="h4 text-uppercase text-neutral-7" href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
												</li>
											{% endfor %}
										</ul>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</nav>
	<!-- END: Navigation -->
	<!-- Header Actions -->
	<div class="header-actions columns small-5 small-offset-1 medium-6 medium-offset-2 large-2 large-offset-0 inline-middle text-right">
		<!-- Search -->
		<div class="search">
			<a class="space-25 icon-button" href="{{ routes.search_url }}"><i class='bx bx-search h3 text-dark' ></i></a>
			{% comment %}
			<form action="/search" method="get">
				<input type="search" name="q" placeholder="Search..." value="{{ search.terms | escape }}">
				<button type="submit">Search</button>
			</form>
			{% endcomment %}
		</div>
		<!-- END: Search -->
		<!-- User -->
		<div class="user">
			{% if customer %}
				<a class="space-25 icon-button" href="{{ routes.account_url }}"><i class='bx bx-user-circle h3 text-dark' ></i><span class="visuallyhidden">Account</span></a>
			{% else %}
				<a class="space-25 icon-button" href="{{ routes.account_login_url }}"><i class='bx bx-user-circle h3 text-dark' ></i><span class="visuallyhidden">Login</span></a>
			{% endif %}
		</div>
		<!-- END: User -->
		<!-- User -->
		<div class="wishlist">
			{% if customer %}
				<label class="space-25 icon-button" for="wishlistViewToggle"><i class='bx bx-heart h3 text-dark' ></i><span class="visuallyhidden">Account</span></label>
			{% else %}
				<a class="space-25 icon-button" href="{{ routes.account_login_url }}"><i class='bx bx-heart h3 text-dark' ></i><span class="visuallyhidden">Login</span></a>
			{% endif %}
		</div>
		<!-- END: User -->
		<!-- Cart -->
		<div class="cart position-relative">
			<a class="space-25 icon-button" href="{{ routes.cart_url }}"><i class='bx bx-shopping-bag h3 text-dark' ></i><span class="visuallyhidden">Cart</span></a>
			{% if cart.item_count.size > 0 %}
			<div class="cart-count position-absolute space-min text-rp" style="top: 0; right: 0;">{{ cart.item_count }}</div>
			{% endif %}
		</div>
		<!-- END: Cart -->
		<!-- Menu Toggle -->
		<div class="menu-toggle hide-large hide-xlarge">
			<label class="space-25 icon-button" for="menu-checkbox" href=""><i class='open bx bx-menu h3 text-dark' ></i> <i class='close bx bx-x h3 text-dark' ></i></label>
		</div>
		<!-- END: Menu Toggle -->
	</div>
	<!-- END: Header Actions -->
	<input type="checkbox" id="wishlistViewToggle" class="visuallyhidden">
	<div class="wishlistView space-100 fill-white">
		<div class="p">Lorem, ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus sed expedita, deleniti, ab sit nobis quia amet reprehenderit impedit, corrupti soluta officiis, vitae laborum eveniet veniam! Nobis quas itaque laboriosam!</div>
	</div>
</div>

{% schema %}
{
	"name": "Header",
	"settings": [
		{
			"type": "link_list",
			"id": "menu",
			"label": "Menu"
		}
	]
}
{% endschema %}