{% assign wishlist_list = customer.metafields.custom.wishlist.value %}
{% assign lookbook = collection.metafields.custom.lookbook.value %}
{% assign lookbook_first = lookbook | first %}




<!-- Collection Section -->
<section id="collection-section" class="collection-section">
	<div class="lookbook">
		{% if lookbook_first %}
			<div class="lookbook-first block img-cover" style="background-image: url('{{ lookbook_first | image_url }}');">
				<div class="collection-title container">
					<div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 text-center">
						<h1 class="block h5 strong text-white text-uppercase space-50">{{ collection.title }}</h1>
						<i class='bx bx-chevrons-down bx-fade-down h2 text-red'></i>
					</div>
				</div>
			</div>
		{% else %}
			<h1 class="collection-title block h5 strong text-uppercase text-center space-200-top">{{ collection.title }}</h1>
		{% endif %}

		{% if collection.description != blank %}
		<div class="collection-description row">
			<div class="container">
				<div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2">
					<div class="label text-center block">{{ collection.description }}</div>
				</div>
			</div>
		</div>
		{% endif %}
		
		{% for image in lookbook offset: 1 %}
			<div class="lookbook-image block img-cover" style="background-image: url('{{ image | image_url }}');"></div>
		{% endfor %}
	</div>
	<div class="row product-grid">
		{% if collection.products.size > 0 %}
			{% paginate collection.products by 12 %}
				<!-- Card Grid -->
				<div class="card-grid space-200-top-bottom">
				{% for product in collection.products %}
					<div class="card-grid-item">
						{% render 'product-card', product: product %}
					</div>
				{% endfor %}
				</div>
				<!-- END: Card Grid -->
			{% endpaginate %}
		{% else %}
			<p class="p block text-center">No products found in this collection.</p>
		{% endif %}
	</div>
	<div class="row">
		<div class="container">
			<div class="columns small-12">
				<!-- Pagination -->
				{% paginate collection.products by 12 %}
					{% if paginate.pages > 1 %}
						<div class="pagination">
							{% for part in paginate.parts %}
								{% if part.is_link %}
									<a class="button fill-white box-border-dark" href="{{ part.url }}">{{ part.title }}</a>
								{% else %}
									<span class="button text-dark no-pointer">{{ part.title }}</span>
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}
				{% endpaginate %}
				<!-- END: Pagination -->
			</div>
		</div>
	</div>
</section>
<!-- END: Collection Section -->