
{% assign wishlist_list = customer.metafields.custom.wishlist.value %}

<!-- Collection Section -->
<section id="collection-section" class="collection-section space-100-top">
	<div class="row">
		<div class="container">
			<div class="columns small-12">
				<h1 class="collection-title block h5 strong text-uppercase text-center">{{ collection.title }}</h1>
				{% if collection.description != blank %}
					<p class="collection-description block p">{{ collection.description }}</p>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="row">
		{% if collection.products.size > 0 %}
			{% paginate collection.products by 12 %}
				<!-- Card Grid -->
				<!-- <div class="card-grid space-100"> -->
				<div class="card-grid space-100-top-bottom">
				{% for product in collection.products %}
					<div class="card-grid-item">
						<!-- <div class="card product-card fill-white radius-25 box-shadow-red no-overflow"> -->
						<!-- <div class="card product-card fill-white radius-25 no-overflow"> -->
						<div class="card product-card fill-white no-overflow">
							<a class="block" href="{{ product.url }}">
								{% if product.featured_image %}
								{% comment %}
								<div class="thumbnail block no-whitespace" style="padding-top: 100%; background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url('{{ product.featured_image | img_url: 'medium' }}');"></div>
								{% endcomment %}
								<div class="thumbnail block no-whitespace" style="padding-top: 125%; background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url('{{ product.featured_image | img_url: 'large' }}');"></div>
								{% endif %}
								{% comment %}
								<div class="text-center space-75-top space-75-left-right">
									<div class="title p text-uppercase no-overflow-text space-min-bottom">{{ product.title }}</div>
									<div class="price label text-red strong">{{ product.price | money }}/-</div>
								</div>
								{% endcomment %}
								<div class="text-center space-50">
									<div class="title label text-uppercase space-min-bottom no-overflow-text">{{ product.title }}</div>
									<div class="price small text-red strong">{{ product.price | money }}/-</div>
								</div>
							</a>
							<div class="product-actions row space-25 no-whitespace hidden">
								<div class="wishlist columns small-6 space-25">
									{% if customer %}
										{% for element in wishlist_list %}
											{% if element.handle == product.handle %}
												{% assign fav = true %}
												{% break %}
											{% else %}
												{% assign fav = false %}
											{% endif %}
										{% endfor %}

										{% if fav == true %} 

										{% comment %}
											<button class="button block fill-dark box-shadow-red" data-product-id="{{ product.id }}">
										{% endcomment %}
											<button class="button block fill-dark" data-product-id="{{ product.id }}">
												Remove
											</button>
										{% else %} 

										{% comment %}
											<button class="button block fill-dark box-shadow-red" data-product-id="{{ product.id }}">
										{% endcomment %}
											<button class="button block fill-dark" data-product-id="{{ product.id }}">
												Favourite
											</button>
										{% endif %}
									{% else %} 

									{% comment %}
										<a class="button block fill-dark box-shadow-red" href="{{ routes.account_login_url }}" class="wishlist-button">
									{% endcomment %}
										<a class="button block fill-dark" href="{{ routes.account_login_url }}" class="wishlist-button">
											Wishlist
										</a>
									{% endif %}
								</div>
								<div class="cart columns small-6 space-25">
									{% if product.variants.size > 1 %}
										<a class="button block fill-red text-white" href="{{ product.url }}">Options</a>
									{% elsif product.available %}
										<form action="/cart/add" method="post" enctype="multipart/form-data">
											<input type="hidden" name="id" value="{{ product.variants.first.id }}">
											{% comment %}
											<button class="button block fill-red text-white box-shadow-black" type="submit">Add to Cart</button>
											{% endcomment %}
											<button class="button block fill-red text-white" type="submit">Add to Cart</button>
										</form>
									{% else %}
										{% comment %}
										<a class="button block fill-red text-white box-shadow-black" href="{{ product.url }}">Pre-order</a>
										{% endcomment %}
										<a class="button block fill-red text-white" href="{{ product.url }}">Pre-order</a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				</div>
				<!-- END: Card Grid -->
			{% endpaginate %}
		{% else %}
			<p class="p block text-center">No products found in this collection.</p>
		{% endif %}
	</div>
	<div class="row">
		<div class="container">
			<div class="columns small-12">
				<!-- Pagination -->
				{% paginate collection.products by 12 %}
					{% if paginate.pages > 1 %}
						<div class="pagination">
							{% for part in paginate.parts %}
								{% if part.is_link %}
									<a class="button fill-white box-border-dark" href="{{ part.url }}">{{ part.title }}</a>
								{% else %}
									<span class="button text-dark no-pointer">{{ part.title }}</span>
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}
				{% endpaginate %}
				<!-- END: Pagination -->
			</div>
		</div>
	</div>
</section>
<!-- END: Collection Section -->

